<div class="row">
    <!-- Main Sidebar -->
    <aside class="main-sidebar col-10 col-md-3 col-lg-2 px-0 " [ngClass]="{'open': sideNavService.hideSideNav }">
      <div class="color-switcher-toggle animated pulse infinite">
        <i class="material-icons">settings</i>
      </div>
      
      <div class="nav-wrapper">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">
              <i class="material-icons">edit</i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/design">
              <i class="material-icons">vertical_split</i>
              <span>Design</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add-new-post.html">
              <i class="material-icons">note_add</i>
              <span>Execution</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="form-components.html">
              <i class="material-icons">view_module</i>
              <span>Results</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tables.html">
              <i class="material-icons">table_chart</i>
              <span>Environment</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user-profile-lite.html">
              <i class="material-icons">person</i>
              <span>Analytics</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">
              <i class="material-icons">error</i>
              <span>Projects</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
</div>
    <!-- End Main Sidebar -->