<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>Register</h3>
      <div class="form-group">
        <label>
          <input type="text" id="form_user" class="my_form-control" required />
          <small class="my_place">First Name</small>
          <div class="invalid-feedback">Please fill out this field.</div>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="text" id="form_user" class="my_form-control" required />
          <small class="my_place">Last Name</small>
          <div class="invalid-feedback">Please fill out this field.</div>
        </label>
      </div>
    
      <div class="form-group">
        <label>
          <input type="text" id="form_email" class="my_form-control" required />
          <small class="my_place">Email Id</small>
          <div class="invalid-feedback">Please fill out this field.</div>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="text" id="form_user" class="my_form-control" required />
          <small class="my_place">Username</small>
          <div class="invalid-feedback">Please fill out this field.</div>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="password"
            id="form_password"
            class="my_form-control"
            required
          />
          <small class="my_place">Password</small>
          <div class="invalid-feedback">Please fill out this field.</div>
        </label>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary mt-2 mx-auto">
          CREATE ACCOUNT
        </button>
      </div>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>Login</h3>
      <div class="form-group">
        <label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="my_form-control"
            required
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <small class="my_place">Username</small>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="my_form-control"
            required
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <small class="my_place">Password</small>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Username is required</div>
          </div>
        </label>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Login
        </button>
      </div>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>CHERRY</h1>
        <p>
          A Next Generation,<br />
          Test Automation Framework.
        </p>
        <button class="ghost" id="signIn">LOGIN</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>CHERRY</h1>
        <p>
          A Next Generation,<br />
          Test Automation Framework.
        </p>
        <button class="ghost" id="signUp">REGISTER</button>
      </div>
    </div>
  </div>
</div>
